<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bonus! Congrats</title>
</head>


<body>

  <!--these provide path to css-->
  <link rel="stylesheet" href="/css/befreindObi-wan.css">
  <link rel="stylesheet" href="/css/global.css">

  <div id= "obiwanpic">
    <img  src="/images/quigon-obiwan.jpeg"> 
  </div>
  
  <div id = fade>Luckily you have befriended 2 Master Jedi's from the Planet Stewjon.</div>
  <h2> They mean no harm, and they are in search of Humans with carpentry skills.</h2>
  <h2> In return for your assistance, they will award you:</h2>

  <p>1. Ride in their ship closer to your destination! +200 Mile boost</p>
  <br>
  <p>2. Warm meal and place to sleep. +25 Health for all players</p>
  <br>
  <br>
  
  
  <div><a href="http://localhost:1337/trail">Continue</a></div>

  

  <script src="/js/starwars.js"> </script>
  <script src="/js/global.js"> </script>
  
    
</body>
</html>