<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game over</title>
</head>

<!--these provide path to css-->
<link rel="stylesheet" href="/css/fightObi-wan.css">
<link rel="stylesheet" href="/css/global.css">

<body>
  <div id= "obiwanpic">
    <img  src="/images/fight.jpeg" width = 600 height = 300> 
  </div>
  
  <h1> Game Over </h1>
  <h2> You just tried to fight 2 Master Jedi. You didn't stand a chance!</h2>
  
  <div><a href="http://localhost:1337/topTen">Exit</a></div>
  <br>

</body>
</html>