<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Oregon Trail</title>

</head>

<body>

  <!--these provide path to css-->
  <link rel="stylesheet" href="./css/index.css">

  <img src="/images/oregon-trail-banner.png" alt="banner" class="BannerImage">

  <div id="fade">Press spacebare to continue</div>

  <script src="/js/global.js"> </script>
  <script src="/js/index.js"> </script>

</body>

</html>