<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Menu</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="menu-container">
      <div id="fade">
        <h1>Main Menu</h1>
      </div>
      <div class="actions-container">
        <a class="actions" href="/setup">1. Travel the trail</a>
        <a class="actions" href="/setup">2. Learn about the trail</a>
        <a class="actions" id="audioText"> 3. Turn Sound (Off/On)</a>
      </div>
      <img id="wagon-img" src="/images/wagon.jpeg" />
    </div>
    <script src="/js/global.js"></script>
    <script src="/js/mainmenu.js"></script>
  </body>
</html>
