<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A new challenge approaches!</title>

  <!--these provide path to css-->
  <link rel="stylesheet" href="/css/obi-wanApproaches.css">

</head>
<body>

  <video width="660" height="415" autoplay>
    <source src="/images/obiwan-landing.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>

  <h1>A futuristic ship has landed on your path, the passengers are coming to interact with you:</h1>
 
  <p><a class = "actions" href="http://localhost:1337/befreindObi-wan">Approach them kindly</a></p>
  <p><a class = "actions" href="http://localhost:1337/fightObi-wan">Fight them!</a></p>
  
</body>
</html>