<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--link to css-->
    <link rel="stylesheet" href="/css/topten.css">

</head>
    
<body>

    <pre>
        ╭━━━━╮╱╱╱╱╱╱╭╮╭━━━╮
        ┃╭╮╭╮┃╱╱╱╱╱╭╯┃┃╭━╮┃
        ╰╯┃┃┣┻━┳━━╮╰╮┃┃┃┃┃┃
        ╱╱┃┃┃╭╮┃╭╮┃╱┃┃┃┃┃┃┃
        ╱╱┃┃┃╰╯┃╰╯┃╭╯╰┫╰━╯┃
        ╱╱╰╯╰━━┫╭━╯╰━━┻━━━╯
        ╱╱╱╱╱╱╱┃┃
        ╱╱╱╱╱╱╱╰╯</pre>

    <p>Name    Score     Date </p>
    <p>1. Scherz  1000 10/20/21</p>
    <p>2. david  1000 10/20/21</p>
    <p>3. alex  1000 10/20/21</p>
    <p>4. aron  1000 10/20/21</p>
    <p>5. dash  1000 10/20/21</p>
    <p>6. lola  1000 10/20/21</p>
    <p>7. marissa  1000 10/20/21</p>
    <p>8. allie  1000 10/20/21</p>
    <p>9. vic  1000 10/20/21</p>
    <p>10. gabby  1000 10/20/21</p>
    
    <div id="fade"> <a href="http://localhost:1337/mainmenu" style="text-decoration: none"> Press spacebare to return to menu</a></div>         

    </div>

    <script src="/js/global.js"> </script>
    <script src="/js/topTen.js"> </script>

    </body>

</html>