<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Game</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <h1>Main Menu (delete)<h1>
    <h2>Play Game (spacebar)<h2>
    <h3>Change Pace: 1. for Steady, 2. for Strenuous, 3. for Grueling, 4. for Resting<h3>

    <div id="trail">
      <h3>Current Profession: <span id="profession"></span></h3>
      <h3>Current Bank Account: <span id="money"></span></h3>
      <h3>Days in the trail: <span id="days"></span></h3>
      <h3>Miles Traveled: <span id="miles"></span></h3>
      <h3>Current Weather: <span id="weather"></span></h3>
      <h3>Current Health: <span id="health"></span></h3>
      <h3>Current Pace: <span id="pace"></span></h3>
      <h3>Current Terrain: <span id="terrain"></span></h3>
      <h3># of Party Members: <span id="members"></span></h3>
      <h3>Alerts: <span id="messeges"></span></h3>
    </div>

    <div id="terrainImg"></div>

    <script src="/js/global.js"> </script>
    <script src="/js/trail.js"> </script>
  </body>
</html>