:root {
  --indexBackground: #000000;
  --background: #2a2d34;
  --surface: #78909c;
  --error: #b00020;
  --shadowColor: #bbbbbb;
  --primary: #4a90e2;
  --secondary: #a7d0ff;

  --textOnBackground: #ffffff;
  --textOnIndexBackground: #ffffff;
  --textOnPrimary: #ffffff;
  --textOnSecondary: #121212;
  --textOnSurface: #121212;
  --textOnError: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

/* global */

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 18px;
}

#disabled-link {
  opacity: 50%;
  pointer-events: none;
}

.no-bullet-list {
  list-style-type: none;
}

.container {
  background-color: var(--background);
  height: 90vh;
}

/* index */

#index-container {
  padding: 50px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--indexBackground);
  height: 100vh;
}

.begin-prompt {
  color: var(--textOnIndexBackground);
}

/* main menu */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  background-color: var(--primary);
}

.logo {
  color: var(--textOnPrimary);
}

.header-items {
  display: flex;
  gap: 2em;
  font-size: 18px;
  padding: 5px 14px;
}

.header-items a {
  color: var(--textOnPrimary);
  /* remove underline */
  text-decoration: none;
}

.header-items :hover {
  color: var(--secondary);
  transition: 0.3s ease;
  transform: scale(1.075);
  cursor: pointer;
}

#main-menu-content-container {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.game-menu {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface);
  width: 30%;
  height: 500px;
  border-radius: 10px;
}

#game-menu-logo {
  color: var(--textOnSurface);
}

.game-menu-items {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 5px 14px;
  text-align: left;
}

.game-menu-items a {
  color: var(--textOnSurface);
  /* remove underline */
  text-decoration: none;
}

.game-menu-items :hover {
  /*color: var(--shadowColor);*/
  transition: 0.3s ease;
  transform: scale(1.025);
  cursor: pointer;
}

/* setup */
#setup-container {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 90%;
  color: var(--textOnBackground);
  margin: 20px;
}

#setup-content {
  width: 100%;
  color: var(--textOnBackground);
  margin: 20px;
  padding: 20px;
}

/* spacing for children */
#setup-content h2,
h3,
label,
input,
p {
  padding: 12px 16px;
}

/* NOTE: test */
#month-content li {
  padding: 10px 20px;
}

/* trail */

#trail-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  color: var(--textOnBackground);
  margin-top: 20px;
}

#button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  /* background-color: #4a90e2; */
}

#stat-cards-columns {
  width: 60%;
  margin-left: 10px;
}

#stat-cards-row {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  /* background-color: #4a90e2; */
}

.trail-map-container {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}

.trail-map-container .bg-image {
  opacity: 0.5;
  height: 455px;
  width: 606px;
  background: center / contain no-repeat url('./images/oregon-trail-map.jpg');
}

.trail-map-container div.highlight-region {
  position: absolute;
  height: 25px;
  width: 25px;
  border: 3px solid white;
}

.stat-card {
  padding: 5px 5px;
  width: 300px;
  height: 300px;
  background-color: var(--surface);
}

.stat-card h2 {
  color: var(--textOnPrimary);
  font-size: 20px;
}

.stat-card p {
  padding: 5px 5px;
  color: var(--textOnPrimary);
}

#stat-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* background-color: #4a90e2; */
}

#player-info {
  background-color: darkcyan;
}

.card-content {
  padding: 2px;
  width: 100%;
}

.card-content progress {
  width: 100%;
  height: 25px;
}
