body{
  background: linear-gradient(#000000, #ff0000);
}


a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  text-shadow: 8px 8px 12px rgb(0, 0, 0);
  font-family: 'Stencil Std', fantasy;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-family: 'Stencil Std', fantasy;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-family: 'Stencil Std', fantasy;
}

h1{
  color: white;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  text-shadow: 8px 8px 12px rgb(0, 0, 0);
  font-family: 'Stencil Std', fantasy;
}

h2{
  color: white;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  text-shadow: 8px 8px 12px rgb(0, 0, 0);
  font-family: 'Stencil Std', fantasy;
}