body {
  background-color: bisque;
}

a:link {
  color: rgb(29, 18, 18);
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  text-shadow: 8px 8px 12px orange;
  font-family: 'Stencil Std', fantasy;
}

a:visited {
  color: rgb(29, 18, 18);
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-family: 'Stencil Std', fantasy;
}

a:active {
  color: rgb(29, 18, 18);
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-family: 'Stencil Std', fantasy;
}

h1{
  color: rgb(29, 18, 18);
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  text-shadow: 8px 8px 12px orange;
  font-family: 'Stencil Std', fantasy;
}
