body{
  background-image: url(/images/cowboy.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}


#fade {
  color: rgb(0, 0, 0);
  opacity: 1;
  transition: 1s opacity;
  text-align: left;
  font-size:14px;
}

a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}